body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.top-bar {
  background: #1f1f1f;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
    width: 200px; 
    height: auto;    
    object-fit: contain; 
    display: block;
    font-size: 28px;
    font-weight: bold;
}

.btn-voltar {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  background: #333;
  border-radius: 6px;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.cadastro-box {
  background: #1b1b1b;
  padding: 40px;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 0 15px #000;
  text-align: center;
}

.cadastro-box h1 {
  margin: 0;
  font-size: 32px;
}

.subtitle {
  margin: 5px 0 25px 0;
  opacity: 0.7;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  opacity: 0.8;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  background: #2e2e2e;
  color: white;
}

.input-group input:focus {
  outline: 2px solid red;
}

.btn-cadastrar {
  width: 100%;
  padding: 12px;
  background: #1ebd43;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #111;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-cadastrar:hover {
  background: #18a63a;
}

.login-link {
  margin-top: 20px;
}

.login-link a {
  color: red;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
#aviso-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#aviso-box {
  background: white;
  padding: 40px 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#aviso-box p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #d40000;
}

#btnContinuar {
  font-size: 20px;
  background: #d40000;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#btnContinuar:hover {
  background: #ff0000;
}
